.tourist {
  width: 300px;
  height: 600px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 2px 2px 9px 2px darkgray;
}
img {
  width: 250px;
  height: 150px;
  margin-left: 5%;
  margin-right: 10%;
}
p {
  text-align: justify;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-size: 18px;
  text-indent: 20px;
}
h1 {
  padding-top: 0%;
  padding-bottom: 0%;
  margin-bottom: 0%;
  margin-top: 0%;
  text-align: center;
}
h3 {
  text-align: center;
  margin-right: 25%;
  margin-left: 25%;
}
